# ==============================================================================
# Gameshelf Web Environment Variables
# ==============================================================================

# Supabase Local Configuration
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0

# Twitch / IGDB API (Server-side proxy)
TWITCH_CLIENT_ID=5f5tlhpr9riinitgw2k846ty5907n7
TWITCH_CLIENT_SECRET=wpvp8sqawxyx6861um4di08ia15txk
